{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/play_result.css' %}?after">
    <div class="container">
        <div class="row justify-content-md-center mb-4">
            <div class="col-md-6">
                {% if ranking != 0 %}
                    <h5 style="text-align: center">축하드립니다. {{ username }}님께서는 {{ ranking }}등 입니다.</h5><br>
                {% endif %}
                <div class="widget">
                    <div class="mb-3 text-center">
                        <h6>
                            <span>최종 순위표</span>
                        </h6>
                    </div>
                    <table class="table small mb-5">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">등수</th>
                            <th scope="col">유저</th>
                            <th scope="col">점수</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rank, user, score in ranks_scores %}
                            {% if username == user %}
                                <tr class="bg-success text-white">
                                    <th scope="row">{{ rank }}</th>
                                    <td>{{ user }}</td>
                                    <td>{{ score }}</td>
                                </tr>
                            {% else %}
                                <tr class="bg-secondarytext-white">
                                    <th scope="row">{{ rank }}</th>
                                    <td>{{ user }}</td>
                                    <td>{{ score }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="gap-0"></div>
                </div>
                <br>
                <a class="btn btn-outline-secondary" style="width: 100%;" href="{% url 'room:asset' room_id %}">처음으로</a>
            </div>
        </div>
    </div>
{% endblock %}
