{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/play_round_after.css' %}?after">
    <body oncontextmenu="return false">

    <div class="container">
        <div class="row mb-4">
            <div class="col-12 text-center pt-3">
                {% if user.id != room.host_id %}
                    {% if  U_ans  ==  quiz.quiz_answer %}
                        <h3 class="my-3 border-bottom pb-2">정답입니다!!</h3>
                    {% else %}
                        <h3 class="my-3 border-bottom pb-2">틀렸습니다.</h3>
                    {% endif %}
                    {% if U_ans == 0 %}
                        <h6>내가 고른 정답: 시간 초과</h6>
                    {% else %}
                        <h6>내가 고른 정답: {{ U_ans }}</h6>
                    {% endif %}
                    <h6>정답: {{ quiz.quiz_answer }} --- {{ quiz.quiz_answer_name }}</h6>
                {% endif %}
                <h4><a class="btn btn-success disabled" id="next-round-button" hidden>다음</a></h4>
                <a class="btn btn-danger" id="prev-page-room" href="{% url 'room:play:prev' room.id player.id %}"
                   hidden>이전으로</a>
            </div>
        </div>
        <div class="row justify-content-md-center mb-4">
            <div class="col-md-6">
                <div class="widget" style="border:1px #000000">
                    <div class="mb-3 text-center">
                        <h5>
                            <span>중간 순위표</span>
                        </h5>
                    </div>
                    <table class="table small mb-5">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">등수</th>
                            <th scope="col">유저</th>
                            <th scope="col">점수</th>
                        </tr>
                        </thead>
                        <tbody id="user_list">
                        </tbody>
                    </table>
                    <div class="gap-0"></div>
                </div>
            </div>
            <div text-align="center"
                 style="display:flex;flex-direction: row;justify-content: center ;margin: 1px auto; width: 100%;">
                <div style="width:300px; height:200px;float:left;">
                    <h6>원본이미지</h6>
                    <img src='{{ quiz.image.url }}' height="100%" width="100%" alt="원본이미지">
                </div>
                &nbsp;&nbsp;&nbsp;
                <div style="width:300px; height:200px; float:right;">
                    <h6>문제이미지</h6>
                    <img src='{{ quiz.opencv_image.url }}' height="100%" width="100%" alt="문제이미지">
                </div>
            </div>
        </div>

        <form id="post-form" method="POST" action="{% url 'room:play:delete' room_id quiz.id %}">
            {% csrf_token %}
            <input type="hidden">
        </form>

        <div>
            <hidden id="room-name" value="{{ room.id }}" user="{{ user.username }}" host="{{ room.host }}"></hidden>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/play_round_after.js' %}"></script>
{% endblock script %}