{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/play_round.css' %}?after">
    <div class="container">
        <PlayRoundContainer>
            <WhatIsThisContainer>
                <div>
                    <p>이것은 무엇일까요?</p>
                    <item1>
                        <script>
                            var quiz_num = {{ round_num }};
                            document.write(quiz_num);
                        </script>
                        / {{ play_round }}
                        <br>
                    </item1>

                </div>
            </WhatIsThisContainer>

            <div class="progress">
                <TimerContainer>
                    <nav id="myProgress">
                        <nav id="myBar" class="progress-bar progress-bar-striped bg-success"
                             role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                             aria-valuemax="100"></nav>
                    </nav>
                    <nav id="digit"></nav>
                </TimerContainer>
            </div>
        </PlayRoundContainer>


        <BtnPictureContainer>
            <BtnContainer>
                <btns>
                    <button id="btn1" style="background-color: #ff7d7d"
                            onclick="btn_clk(1)">{{ quiz.answer_list1 }}</button>
                    <button id="btn2" style="background-color: #ffff8e"
                            onclick="btn_clk(2)">{{ quiz.answer_list2 }}</button>
                    <button id="btn3" style="background-color: #bfff69	"
                            onclick="btn_clk(3)">{{ quiz.answer_list3 }}</button>
                    <button id="btn4" style="background-color: #7676ff"
                            onclick="btn_clk(4)">{{ quiz.answer_list4 }}</button>
                </btns>
            </BtnContainer>

            <PictureContainer>
                <img src='{{ quiz.opencv_image.url }}'>
            </PictureContainer>

        </BtnPictureContainer>
    </div>


    {% block script %}
        <script src="{% static 'js/play_round.js' %}"></script>
    {% endblock script %}


    {#타이머 기능#}
    <script>
        var i = 110;

        function start() {
            if (i == 110) {
                i = 110;
                var digit = document.getElementById("digit");
                var elem = document.getElementById("myBar");
                var width = 110;
                var id = setInterval(frame, {{ limit_time }} * 100
            )
                ;


                function frame() {
                    if (width <= 0) {
                        clearInterval(id);
                        i = 14;
                        digit.innerHTML = width + "초";

                        if (ans == 1) {
                            document.getElementById('ans-1').submit();
                        } else if (ans == 2) {
                            document.getElementById('ans-2').submit();
                        } else if (ans == 3) {
                            document.getElementById('ans-3').submit();
                        } else if (ans == 4) {
                            document.getElementById('ans-4').submit();
                        } else {
                            document.getElementById('time-out').submit();
                        }


                    } else {
                        width -= 10;
                        elem.style.width = width + "%";

                    }
                }
            }
        }

        start()
    </script>

    <form id="ans-1" method="POST" action="{% url 'room:play:after' room_id %}">
        {% csrf_token %}
        <input type="hidden" name="round" value="{{ quiz.id }}">
        <input type="hidden" name="U_ans" value="1">
    </form>

    <form id="ans-2" method="POST" action="{% url 'room:play:after' room_id %}">
        {% csrf_token %}
        <input type="hidden" name="round" value="{{ quiz.id }}">
        <input type="hidden" name="U_ans" value="2">
    </form>

    <form id="ans-3" method="POST" action="{% url 'room:play:after' room_id %}">
        {% csrf_token %}
        <input type="hidden" name="round" value="{{ quiz.id }}">
        <input type="hidden" name="U_ans" value="3">
    </form>

    <form id="ans-4" method="POST" action="{% url 'room:play:after' room_id %}">
        {% csrf_token %}
        <input type="hidden" name="round" value="{{ quiz.id }}">
        <input type="hidden" name="U_ans" value="4">
    </form>

    <form id="time-out" method="POST" action="{% url 'room:play:after' room_id %}">
        {% csrf_token %}
        <input type="hidden" name="round" value="{{ quiz.id }}">
        <input type="hidden" name="U_ans" value="0">
    </form>
{% endblock %}