.container {
    background-color: white;
    box-shadow: 2px 2px 8px 2px #818080;
    border-radius: 5px;
    padding: 3%;
    margin: 3% auto;
    width: 980px;
    min-height:500px;
}

.container-header {
    width: 100%;
    margin: 0 auto;
}


.container-header h3 {
    text-align: center;
    font-weight: 500;
}

.container-header h4 {
    text-align: center;
}

.container-content {
    width: 100%;
    border: 1px solid #dedede;
    display: inline-flex;
}

.container-qn {
    width: 50%;
    margin: 0 auto;
    border-right: 1px solid #dedede;
    padding: 10px;

}

.container-qa {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.container-qa label {
    text-align: center;
}

.container-qa p {
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.container-btns {
    margin-top: 10px;
    width: 100%;

}
