.container {
    background-color: white;
    box-shadow: 2px 2px 8px 2px #818080;
    border-radius: 5px;
    padding: 3%;
    margin: 3% auto;
    width: 980px;
    min-height:500px;
}

.container h2 {
    text-align: center;
    font-weight : 1000;
}

.container label {
    margin-top: 10px;
}

.container-btns {
    margin-top: 10px;
    width: 100%;
}