/*in_room.html*/
.container {
    background-color: white;
    box-shadow: 2px 2px 8px 2px #818080;
    border-radius: 5px;
    padding: 3%;
    margin: 3% auto;
    width: 980px;
    min-height:500px;
}

/*룸 안에 라운드 및 제한시간 보여주는 부분*/
.RoomSettingsContainer {
    display: flex;
    width: 100%;
    height: 50px;
    background:linear-gradient( to bottom, #a28fc7 , #a28ec9);
    margin-bottom: 20px;
    border-radius: 5px;
}


/*룸 안의 라운드 제한시간 방제목 아이템 세팅*/
.flex-item {
    width: 100%;
    height: 30px;
    margin: 10px;
    background:linear-gradient( to bottom, #cec7e1, #cec7e3, #c7bde1, #c1b7e0);
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #818080;
}


/*유저들 보여주는 곳*/
.UserListContainer {
    background-color: #aeee88;
    height : 20%;
    min-height: 150px;
    border : 1px solid #000000;
}
.UserListContainer textarea{
    background-color: transparent;
    resize: none;
    width: 100%;
    height : 130px;
    border : none;
}



/*채팅메세지*/
.chatMessageContainer {
    background:linear-gradient( to bottom, #d6e6f5 , #d0e2f3, #b7d5f3, #b1d0ef);
    border: 1px solid rgb(173, 173, 173);
    height : 227px;
    border-radius: 5px;
}

.chatMessageContainer textarea{
    background-color: transparent;
    resize: none;
    width: 100%;
    height : 200px;
    border : none;
    margin: 0px;
}

.chatsendContainer {
    width: 100%;
    height: 100%;
}

