/*play_round.html css*/
.container {
    background-color: white;
    box-shadow: 2px 2px 8px 2px #818080;
    border-radius: 5px;
    padding: 3%;
    margin: 3% auto;
    width: 980px;
    min-height:500px;
}

PlayRoundContainer {
    display:flex;
    flex-direction: column;
    margin-left:2%;
    margin-right:2%;
}

/*타이머부분*/
TimerContainer {
    width: 100%;
    height: 20px;
}

#myProgress {
    width:100%;
    background-color:#ddd;
}


/*이것은 무엇일까요 부분*/
WhatIsThisContainer {
    width:100%;
    height:150px;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-bottom: 1%;
    border: 1px solid #000000;
    border-radius: 10px;
}

WhatIsThisContainer p {
    text-align:center;
    font-size:40px;
    margin-top: 15px;
    margin-bottom: 10px
}

WhatIsThisContainer item1 {
    text-align:center;
    font-size:30px;
}
WhatIsThisContainer item2 {
    text-align:center;
    font-size:15px;
}


BtnPictureContainer {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left:2%;
    margin-right:2%;
    margin-top:1%;
    /*background-color: #000000;*/
    min-height:300px;
}

BtnContainer {
    width:30%;
    height:80%;
    display: flex;
    min-height:300px;
}

BtnContainer btns{
    width: 90%;
    height: 280px;
    margin-right: 5%;
    margin-left: 1%;
    flex-direction: column;
}
BtnContainer button{
    width:90%;
    height:27%;
    margin-top: 5%;
    border-radius : 10px;
    border-color: #DCDCDC;
}



PictureContainer {
    width: 540px;
    height: 338px;
    margin: 14px auto;
}

PictureContainer img{
    width: 540px;
    height:338px;
    object-fit: fill;
}
