/*room_list.html*/
/*룸리스트(방리스트) 전체 컨테이너*/
.RoomListContainer {
    min-height:500px;
    width: 980px;
    margin: 3% auto;
    /*border: 1px solid #070707;*/
    background-color: #ffffff;
    display: flex;
    box-shadow: 2px 2px 8px 2px #818080;
    border-radius: 5px;
}

/*룸리스트컨테이너에서 룸들을 보여주는 부분*/
.RoomsContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*룸들을 보여주는 곳 위에 있는 방제목 호스트 라운드*/
.ShowRoomIdentify {
    width: 100%;
    display: flex;
    border-bottom: 1px outset rgba(239, 239, 239, 0.35);
}


/*룸들의 버튼*/
.RoomsContainer a {
    margin-top: 1%;
    margin-left : 1%;
    width: 98%;
    background-color: rgb(54, 178, 126);
    box-shadow: 1px 1px 1px #818080;
    display: flex;
}

/*버튼 안에 텍스트*/
.RoomsContainer text {
    width: 33%;
}


/*방제목 호스트 라운드 정렬줄*/
.ShowRoomIdentify b{
    width: 33%;
    text-align: center;
}


/*룸리스트에 있는 방생성 버튼 및 로그아웃 버튼 진열장*/
.MakeRoomOrLogoutContainer {
    height: 100%;
    min-height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;

    text-align: center;
    border: 1px outset rgba(213, 213, 213, 0.35);
}


/*방생성 버튼 및 로그아웃 버튼*/
.MakeRoomOrLogoutContainer a {
    text-align: center;
    height: 160px;
    width: 98%;
    margin : 1% auto;
    border: none;
    box-shadow: 1px 1px 3px #818080;
}

/*새로고침 버튼*/
.MakeRoomOrLogoutContainer button {
    text-align: center;
    height: 160px;
    width: 98%;
    margin : 1% auto;
    border: none;
    box-shadow: 1px 1px 3px #818080;
    border-radius: 5px;
}