/*signup_login.html*/
.container {
    background-color: white;
    box-shadow: 2px 2px 8px 2px #818080;
    border-radius: 5px;
    padding: 3%;
    margin: 3% auto;
    width: 980px;
    min-height:500px;
}


/*로그인화면 로고 영역*/
.LogoContainer {
    margin-top: 50px;
    /*background-color: #FA8072; !*영역크기 확인용*!*/
    width: 100%;
    height: 300px;
    text-align: center;
}

/*로그인화면 로고 제목 */
.LogoContainer p {
    font-size: 100px;
    color: #000000;
    text-shadow: 0 1px 0 rgba(217, 217, 217, 0.73);
}
.LogoContainer h3 {
    color: #000000;
    text-shadow: 0 1px 0 rgba(224, 224, 224, 0.76);
}
