/*navbar*/
nav {
    width: 80%;
    overflow: hidden;
    height: 80px;
    background-color: #ffffff;
    margin: 0px auto;
    border-bottom: 1px ridge #cccccc;
    box-shadow: 1px 1px 5px 1px rgb(173, 170, 170);
}

#nav {
    width: 100%;
    position: relative;
    text-align: center;
}

/*내비 with 설정값*/
#nav > a {
    line-height: 80px;
    display: block;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 5%;
    color: #000000;
}

/*내비 유저 이름 설정값*/
#nav > p {
    padding: 0 20px;
    height: 25px;
    background-color: #efeff3;
    color: #000000;

    /*가운데 정렬*/
    position: absolute;

    right: 30px;
    top: 50%;
    transform: translateY(-13px);

}






