{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_room.css' %}?after">
    <div class="container">
        <form method="post" class="post-form my-3" enctype="multipart/form-data">
            <h3 class="my-3 border-bottom pb-2" style="font-weight: 500;">방 생성</h3>
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group mb-4">
                <label for="name">방제목</label>
                <input type="text" class="form-control" name="name" id="name"
                       value="{{ form.name.value|default_if_none:'' }}">
                <div id="emailHelp" class="form-text">방 제목은 20글자 이내입니다.</div>
            </div>
            <div class="form-group mb-4">
                <label for="play_round">라운드</label>
                <select name="play_round" id="play_round" class="form-select"
                        value="{{ form.play_round.value|default_if_none:'' }}">
                    {% for i in number %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="limit_time">제한시간</label>
                <input type="text" class="form-control" name="limit_time" id="limit_time"
                       value="{{ form.limit_time.value|default_if_none:'' }}">
                <div id="emailHelp" class="form-text">제한시간은 최대 30초 입니다.</div>
            </div>
            <div class="container-btns">
                <a id="chat-close-btn" class="btn btn-danger" href="{% url 'room:assets' %}">이전으로</a></button>
                <button type="submit" style="float:right;" class="btn btn-primary">방생성</button>
            </div>
        </form>
    </div>
{% endblock %}
