{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/in_room.css' %}?after">
    <div class="container">
        <div class="RoomSettingsContainer">
            <div class="flex-item">방제목 : {{ room.name }}</div>
            <div class="flex-item">라운드 : {{ room.play_round }}</div>
            <div class="flex-item">라운드 당 제한 시간 : {{ room.limit_time }}</div>
        </div>

        {% if user.is_authenticated %}
            {% csrf_token %}
            <div class="widget">
                <div class="mb-3 text-center">
                    <h4>
                        <span>이용자 리스트</span>
                    </h4>
                </div>
                <table class="table small mb-5">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">유저</th>
                        <th scope="col">준비</th>
                    </tr>
                    </thead>
                    <tbody id="user_list"></tbody>
                </table>
                <div class="gap-0"></div>
            </div>
        {% endif %}

        <div class="chatMessageContainer"> <!--css-->
            <p style="border-bottom: 1px solid rgb(173, 173, 173); margin-bottom:0px;">&nbsp;채팅창</p>
            <textarea id="chat-log" disabled></textarea>
        </div>
        <form id="post-form">
            {% csrf_token %}
            <input type="hidden" name="username" id="username" value="{{ username }}"/>
            <input type="hidden" name="room_id" id="room_id" value="{{ room.id }}"/>
        </form>
        <div class="chatsendContainer">
            <input id="chat-message-input" type="text" size="50px">
            <input class="mt-3" id="chat-message-submit" type="button" value="보내기">
            <input id="ready" type="button" style="float:right; margin-top: 15px;" value="ready" hidden>
        </div>

        <button id="chat-close"
                style="border:none;background-color: crimson;margin-top: 10px;height: 35px;border-radius: 5px;"><a
                id="chat-close-btn"
                href="{% url 'room:assets' %}">나가기</a>
        </button>
        <a class="btn btn-success disabled" style="float:right;margin-top: 10px;margin-left: 10px;height: 35px;"
           id="start-button"
           href="{% url 'room:play:round' room.id %}" hidden>start
        </a>
        <a id="create-button" style="float:right;margin-top: 10px;height: 35px;"
           href="{% url 'room:quiz:create' room.id %}" hidden
                {% if room_round == quiz_count %}
           class="btn btn-info disabled"
                {% else %}
           class="btn btn-info"
                {% endif %}>
            퀴즈 생성
        </a>
    </div>

    <div>
        <hidden id="room-name" value="{{ room.id }}" user="{{ user.username }}" host="{{ room.host }}"></hidden>
    </div>

    <style>
        #chat-close-btn {
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}
{% block script %}
    <script src="{% static 'js/in_room.js' %}"></script>
{% endblock script %}