{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/room_list.css' %}?after">
    <div class="RoomListContainer">
        <div class="RoomsContainer">
            <div class="ShowRoomIdentify">
                <b>방 제목</b>
                <b>호스트</b>
                <b>라운드</b><br>
            </div>
            {% if user.is_authenticated %}
                {% csrf_token %}
                {% if room_list %}
                    {% for room in room_list %}
                        <pr>
                            {% if room.is_start == 0 %}
                                <a class="btn" href="{% url 'room:asset' room.id %}">
                                    <text>방제 : {{ room.name }}</text>
                                    <text>호스트 : {{ room.host }}</text>
                                    <text>라운드 : {{ room.play_round }}</text>
                                </a>
                            {% endif %}
                        </pr>
                    {% endfor %}
                {% else %}
                    <h1 class="text-center my_title">방이 없습니다.</h1><br>
                {% endif %}
                </div>
                <div class="MakeRoomOrLogoutContainer"><!--css-->
                    <a class="btn btn-primary" href="{% url 'room:create' %}"><br><br>방 생성</a>
                    <a class="btn btn-primary" style="background-color: crimson;" href="{% url 'logout' %}"><br><br>로그아웃
                    </a>
                    <button type="button" onClick="window.location.reload();">새로 고침</button>
                </div>
            {% endif %}
    </div>
{% endblock %}


