{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_quiz.css' %}?after">

    <div class="container">
        <div class="container-header">
            <h3 class="my-3 border-bottom pb-2">퀴즈 생성</h3>
            <h4>{{ get_count }}/{{ room_round }}</h4>
        </div>
        <form method="post" class="post-form my-3" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    {% if not image %}
                        <strong>이미지</strong>
                        <ul>
                            <li>필수 항목입니다.</li>
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            <div class="container-content">
                <div class="container-qn">
                    <div class="form-group row" id="qa">
                        <label for="answer_list1">1문항</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width: 80%;" name="answer_list1"
                                   id="answer_list1"
                                   value="{{ form.answer_list1.value|default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="answer_list2">2문항</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width: 80%;" name="answer_list2"
                                   id="answer_list2"
                                   value="{{ form.answer_list2.value|default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="answer_list3">3문항</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width: 80%;" name="answer_list3"
                                   id="answer_list3"
                                   value="{{ form.answer_list3.value|default_if_none:'' }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="answer_list4">4문항</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width: 80%;" name="answer_list4"
                                   id="answer_list4"
                                   value="{{ form.answer_list4.value|default_if_none:'' }}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="container-qa">
                    <br><br>
                    <div class="form-group">
                        <p>정답</p>
                        <div class="form-check form-check-inline">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="quiz_answer">1번</label>
                            <input type="radio" class="radioform-check-input" name="quiz_answer" id="quiz_answer"
                                   value="1">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="quiz_answer">2번</label>
                            <input type="radio" class="radioform-check-input" name="quiz_answer" id="quiz_answer"
                                   value="2">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="quiz_answer">3번</label>
                            <input type="radio" class="radioform-check-input" name="quiz_answer" id="quiz_answer"
                                   value="3">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="quiz_answer">4번</label>
                            <input type="radio" class="radioform-check-input" name="quiz_answer" id="quiz_answer"
                                   value="4">
                        </div>
                    </div>
                    <br><br><br>
                    <div class="form-group">        <!-- 원본사진 첨부 -->
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="image">이미지 첨부</label>
                        <input type="file" name="image" id="image">
                    </div>
                    <br>
                </div>
            </div>
            <div class="container-btns">
                <a id="back-to-room-btn" class="btn btn-danger" href="{% url 'room:asset' room_id %}">이전으로</a></button>
                {% if get_count != room_round %}
                    <button type="submit" style="float:right;" class="btn btn-primary">다음</button>
                {% else %}
                    <button type="submit" style="float:right;" class="btn btn-primary">완료</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
